@model IEnumerable<AuctionApp.Models.Auctions.AuctionVm>

<h1>My Auctions</h1>

<p>
    <a asp-area="" asp-controller="Auction" asp-action="CreateAuction">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)kr
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAuction", new { id=item.Id} )
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
    }
    </tbody>
</table>